
<h1>Employee Data</h1>
{% if data %}
{% for k in data %}
<form method="POST" action="../save_employee/">
    {% csrf_token %}
    <p>Name : <input type="text" name="T1" value="{{k.name}}" ></p>
    <p>ID : <input type="text" name="T2" value="{{k.id}}" ></p>
    <p>Contact : <input type="text" name="T3" value="{{k.contact}}" ></p>
    <p>E-mail : <input readonly type="text" name="T4" value="{{k.email}}" ></p>
    <input type="submit" value="Save Changes" name="B1">
</form>
{% endfor %}
{% endif %}