
{% if data %}
<h1>Search Employee</h1>
<form method="post" action="../search_employee/">
    {% csrf_token %}
    <p>Enter the E-mail of employee to be searched/edited : <input type="email" name="E1"/></p>
    <input type="submit" name="B1" value="Search"/>
</form>
<hr/>
<h1>Employee List</h1>
{% for a in data %}
<p>
    <a href="../uploadphotoemployee/">Upload Photo</a>
            </p>
            <p>
                <img src="../media/{{a.photo}}" width="100" height="100" style="border-radius: 25%;" />
            </p>
        <p>
        <p>
            Name: {{a.name}}<br/>
        </p>
        <p>
            ID: {{a.id}}<br/>
        </p>
        <p>
            E-mail: {{a.email}}<br/>
        </p>
        <p>
            Contact: {{a.contact}}<br/>
        </p>
        <br/>
        <br/>
<hr style="border: black solid 3px"/>
{% endfor %}
{% else %}
    <h2>No Employee Record found</h2>
{% endif %}